//
//  Config.xcconfig
//  LiveFront Code Challenge
//
//  Created by Jerry Baez on 11/18/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// User Defined

// NY Times Books API:
API_BASE_URL = api.nytimes.com/svc/books/v3
API_APP_ID = ff76114c-37ea-44a7-802e-e69e0bf2985e
API_KEY = LZhEGDagM3JiaBjjucNapDRFTnfm5lYA
API_SECRET = gGyrHHjcFo7yrEbI

// OpenLibrary.org API:
OL_API_BASE_URL = covers.openlibrary.org/b
